---
    const { block } = Astro.props;
    const { text, annotations } = block;
    const classString = Object.keys(annotations).filter((key) => annotations[key]).map(key => {
        if (key === 'color') {
            return `notion-text--${annotations[key]}`;
        }
        return `notion-text--${key}`;
    }).join(' ');
    const encodedHtml = text.content.replace(/(?:\r\n|\r|\n)/g, '<br>');
---
<style>
  .notion-text--bold {
    font-weight: 600;
  }
</style>
{text.link && <a href={text.link.url} class={classString}>{encodedHtml}</a>}
{!text.link && <span class={classString}>{encodedHtml}</span>}